@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --bg-black-900:#f2f2fc;
  --bg-black-100:#fdf9ff;
  --bg-black-50: #e8dfec;
  --text-black-900: #302e4d;
  --text-black-700: #504e70;
}

*{
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: 0;
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
}

::before,::after{
  box-sizing: border-box;
}

ul{
list-style: none;
}

.padd-15{
  padding-left: 15px;
  padding-right: 15px;
}
/*---------img border--------*/

.container{
max-width: 1100px;
width: 100%;
margin: auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  position: relative;
}


.section{
  background: var(--bg-black-900);
  min-height: 80vh;
  display: block;
  padding:0 30px;
  opacity: 1;
}

.hidden{
  display: none !important;
}

.section .container{
  padding-top: 60px;
  padding-bottom: 70px;
}

.section-title{
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 60px;
}

.section-title h2{
  font-size: 40px;
  color: var(--text-black-900);
  font-weight: 700;
  position: relative;
}

.section-title h2::before{
  content: '';
  height: 4px;
  width: 50px;
  background-color: var(--skin-color);
  position: absolute;
  top: 100%;
  left: 0;
}

.section-title h2::after{
  content: '';
  height: 4px;
  width: 25px;
  background-color: var(--skin-color);
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 8px;
}

.main-container{
  padding-left: 270px;
}

@media (max-width: 992px) {
  .main-container {
      padding-left: 0;
  }
}


.btn{
  font-size: 16px;
  font-weight: 500;
  margin-top: 40px;
  padding: 12px 30px;
  color: white;
  border-radius: 40px;
  border: none;
  display: inline-block;
  white-space: nowrap;
  background: var(--skin-color);
  transition: all 0.3s ease;
}

.btn:hover{
  transform: scale(1.05);
}

.shadow-dark{
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.5);
}

/*-----aside-------*/
.aside{
  width: 270px;
  background: var(--text-black-900);
  position: fixed;
  left: 0;
  top: 0;
  padding: 30px;
  height: 100%;
  display: flex;
  border-right: 1px solid var(--bg-black-50);
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.aside .logo{
  position: absolute;
  top: 50px;
  font-size: 30px;
  text-transform: capitalize;
}

.aside .logo a{
  color: var(--bg-black-50);
  font-weight: 700;
  padding: 15px 20px;
  font-size: 30px;
  letter-spacing: 5px;
  position: relative;
}

.aside .logo a span{
  font-family:"Clicker Script", cursive;
  font-size: 40px;
}

.aside .logo a::before{
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-bottom: 5px solid var(--skin-color);
  border-left: 5px solid var(--skin-color);
  bottom: 0;
  left: 0;
}

.aside .logo a::after{
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-top: 5px solid var(--skin-color);
  border-right: 5px solid var(--skin-color);
  top: 0;
  right: 0;
}

.aside .nav-toggler{
  height: 40px;
  width: 45px;
  border: 1px solid var(--bg-black-50);
  cursor: pointer;
  position: fixed;
  left: 300px;
  top: 20px;
  border-radius: 5px;
  background: var(--bg-black-100);
  display: none;
  align-items: center;
  justify-content: center;
}

.aside .nav-toggler span{
  height: 2px;
  width: 18px;
  background: var(--skin-color);
  display: inline-block;
  position: relative;
}

.aside .nav-toggler span::before{
  content: "";
  height: 2px;
  width: 18px;
  background: var(--skin-color);
  position: absolute;
  top: -6px;
  left: 0;
}

.aside .nav-toggler span::after{
  content: "";
  height: 2px;
  width: 18px;
  background: var(--skin-color);
  position: absolute;
  top: 6px;
  left: 0;
}

.aside .nav{
  margin-top: 50px;
}

.aside .nav li{
margin-bottom: 20px;
display: block;
}

.aside .nav li a{
  font-size: 16px;
  font-weight: 600;
  display: block;
  border-bottom: 1px solid var(--bg-black-50);
  color:var(--bg-black-50);
  padding: 5px 15px;
}

.aside .nav li a.active{
  color: var(--skin-color);
}

.aside .nav li a.active:hover .hidden{
  background-color: var(--bg-black-50);
}

.aside .nav li a i {
  margin-right: 15px; 
}

.main-container .fa{
  display: inline-block;
}

.btn{
  margin-bottom: 100px;
}

@media (max-width: 992px) {
  .aside {
    width: 100%;
    position: relative;
    border-right: none;
    display: flex !important;
    height: 12vh;
    justify-content: start;
  }

  .aside .nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    margin-top: 470px;
    width: 80%;
    position: relative;
    left: 60%;
    background-color: rgb(191, 197, 198);
  }

  .aside .nav li {
    margin: 10px;
  }

  .aside .nav-toggler {
    display: flex;
    left: 60%;
    top: 20px;
  }

  .main-container {
    padding-left: 0;
  }
  .MenuToggle {
    display: none !important;
  }
  .logo {
    margin-top: -35px;
  }
}



/**----------home--------*/

.home{
  min-height: 100vh;
  display: flex;
  color: var(--text-black-900);
}

.home .home-info{
  flex: 0 0 60%;
  max-width: 60%;
}

h3.hello{
  font-size: 28px;
  margin: 15px 0;
}

h3.hello span{
  font-family: 'Clicker Script', cursive;
  font-size: 30px;
  font-weight: 700;
  color: var(--skin-color);
}

h3 .my-profession{
  font-size: 30px;
  margin: 15px 0;
}

.typing{
  color: var(--skin-color);
}

.home-info p{
  margin-bottom: 70px;
  font-size: 20px;
  color: var(--text-black-700);
}

.home .home-img{
  flex: 0 0 40%;
  max-width: 40%;
  text-align: center;
  position: relative;
}

.home-img::after{
  content: '';
  position: absolute;
  height: 80px;
  width: 80px;
  border-bottom: 10px solid var(--skin-color);
  border-right: 10px solid var(--skin-color);
  bottom: -40px;
  right: 20px;
}

.home-img::before{
  content: '';
  position: absolute;
  height: 80px;
  width: 80px;
  border-top: 10px solid var(--skin-color);
  border-left: 10px solid var(--skin-color);
  top: -40px;
  left: -20px;
}

.home .home-img img{
  margin: auto;
  border-radius: 10px;
  height: 400px;
}

@media (max-width:768px){
.home .home-img img{
 margin-left: 50px;
 margin-right: 0;
}

.home-img::before{
  left: 0;
}

.home-img::after{
  right: 0;
  margin-right: -150%;
}
}

@media (max-width: 768px) {
  .home {
    flex-direction: column; /* Stack items vertically on smaller screens */
    align-items: center; /* Center items */
  }

  .home .home-info, .home .home-img {
    flex: 1 1 100%;
    max-width: 100%;
    padding: 10px;
  }

  .home .home-img img {
    margin-left: auto; /* Center image */
    margin-right: auto; /* Center image */
  }

  .home-img::before {
    left: -10px; /* Adjust positioning */
  }

  .home-img::after {
    right: -10px; /* Adjust positioning */
    margin-right: 0; /* Remove negative margin */
  }
}



/*--------------about--------------*/
.about .about-content{
  flex: 0 0 100%;
  max-width: 100%;
}

.about .about-content .about-text{
flex: 0 0 100%;
max-width: 100%;
}

.about .about-content .about-text h3{
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 700;
  color: var(--text-black-900);
}

.about .about-content .about-text h3 span{
  color: var(--skin-color);
}

.about .about-content .about-text p{
  font-size: 16px;
  line-height: 25px;
  color: var(--text-black-700);
}

.about .about-content .personal-info{
  flex: 0 0 60%;
  max-width: 60%;
  margin-top: 40px;
}

.about .about-content .personal-info .info-item{
  flex: 0 0 50%;
  max-width: 50%;
}

.about .about-content .personal-info .info-item p{
  font-weight: 600;
  padding: 10px 0;
  font-size: 16px;
  color: var(--text-black-900);
  border-bottom: 1px solid var(--bg-black-50);
}

.about .about-content .personal-info .info-item p span{
  font-weight: 400;
  color: var(--text-black-700);
  margin-left: 4px;
  display: inline-block;
}

.about .about-content .personal-info .buttons{
  margin-top: 30px;
}

.about .about-content .personal-info .buttons .btn{
  margin-right: 15px;
  margin-top: 10px;
}

.about .about-content .skills{
  flex: 0 0 40%;
  max-width: 40%;
  margin-top: 40px;
}

.about .about-content .skills .skill-item{
  flex: 0 0 100%;
  max-width: 100%;
}

.about .about-content .skills .skill-item h5{
  line-height: 40px;
  font-weight: 600;
  font-size: 16px;
  color: var(--text-black-900);
  text-transform: capitalize;
}

.about .about-content .skills .skill-item .progress{
  background-color: var(--bg-black-50);
  height: 7px;
  width: 100%;
  border-radius: 4px;
  position: relative;
}

.about .about-content .skills .skill-item{
  margin-bottom: 25px;
}

.about .about-content .skills .skill-item .progress .progress-in{
 position: absolute;
 left: 0;
 top: 0;
 height: 100%;
 border-radius: 4px;
 background-color: var(--skin-color);
}

.about .about-content .skills .skill-item .skill-percent{
  position: absolute;
  right: 0;
  color: var(--text-black-900);
  top: -40px;
  font-weight: 400;
  line-height: 40px;
}

.about .about-content .education,
.about .about-content .experience{
  flex: 0 0 50%;
  max-width: 50%;
  margin-top: 30px;
}

.about .about-content h3.title{
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 700;
  color: var(--text-black-900);
}

.about .about-content .timeline-box{
  flex: 0 0 100%;
  max-width: 100%;
}

.about .about-content .timeline{
  background-color: var(--bg-black-100);
  padding: 30px 15px;
  border: 1px solid var(--bg-black-50);
  border-radius: 10px;
  width: 100%;
  position: relative;
}

.about .about-content .timeline .timeline-item{
  position: relative;
  padding-left: 37px;
  padding-bottom: 50px;
}

.about .about-content .timeline .timeline-item:last-child{
  padding-bottom: 0;
}

.about .about-content .timeline .timeline-item::before{
  content: '';
  width: 1px;
  position: absolute;
  height: 100%;
  left: 7px;
  top: 0;
  background-color: var(--skin-color);
}

.about .about-content .timeline .circle-dot{
  position: absolute;
  left: 0;
  top: 0;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: var(--skin-color);
}

.about .about-content .timeline .timeline-date{
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 12px;
  color: var(--text-black-700);
}

.about .about-content .timeline .timeline-date .fa{
  margin-left: 5px;
}

.about .about-content .timeline .timeline-title{
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
  text-transform: capitalize;
  color: var(--text-black-900);
}

.about .about-content .timeline .timeline-text{
  line-height: 25px;
  font-size: 16px;
  text-align: justify;
  color: var(--text-black-700);
}

@media (max-width: 768px) {
  .about .about-content .personal-info,
  .about .about-content .skills,
  .about .about-content .education,
  .about .about-content .experience {
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 20px;
  }
  
  .about .about-content .personal-info .info-item,
  .about .about-content .skills .skill-item {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/*-------------------slider----------*/

/* Hide all slides by default */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {

  width: 100%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none; 
}

.mySlides img {
  vertical-align: middle;
  height: 580px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media (max-width: 768px) {
  .mySlides img {
    height: auto; /* Make sure the image height adjusts */
  }

  .prev, .next {
    font-size: 16px;
    padding: 10px; /* Adjust padding for smaller screens */
  }

  .text {
    font-size: 12px; /* Adjust font size for smaller screens */
    padding: 5px 8px;
  }

  .numbertext {
    font-size: 10px; /* Adjust font size for smaller screens */
    padding: 5px 8px;
  }

  .dot {
    height: 10px; /* Adjust size of dots for smaller screens */
    width: 10px;
    margin: 0 1px;
  }
}

@media (max-width: 480px) {
  .prev, .next {
    font-size: 14px;
    padding: 8px; /* Further adjust padding for very small screens */
  }

  .text {
    font-size: 10px; /* Further adjust font size for very small screens */
    padding: 4px 6px;
  }

  .numbertext {
    font-size: 8px; /* Further adjust font size for very small screens */
    padding: 4px 6px;
  }

  .dot {
    height: 8px; /* Further adjust size of dots for very small screens */
    width: 8px;
    margin: 0 1px;
  }
}

/*----------course list----------*/
.courselist{
  width: 100%;
  margin-top: 40px;
  align-items: center;
  background: var(--bg-black-50);
}


.course-title{
  font-size: 24px;
  margin-bottom: 20px;
  margin-left: 30px;
  font-weight: 700;
  color: var(--text-black-900);
}

.course-title h2{
  font-size: 40px;
  color: var(--text-black-900);
  font-weight: 700;
  position: relative;
}

.course-title h2::before{
  content: '';
  height: 4px;
  width: 50px;
  background-color: var(--skin-color);
  position: absolute;
  top: 100%;
  left: 0;
}

.course-title h2::after{
  content: '';
  height: 4px;
  width: 25px;
  background-color: var(--skin-color);
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 8px;
}

.course-col{
  width: 89%;
  margin-top: 30px;
  text-align: center;
  padding: 2% 6%;
  margin-left: 60px;
  margin-right: 40px;
  cursor: pointer;
}

.course-col img{
 width: 100%;
 height: 50vh;
 margin-top: 60px;
 align-self: center;
 text-align: center;
 border-radius: 10px;
 transition:0.5s ease all;
 cursor: pointer;
}

.course-col img:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 
}

.course-col img:hover{
  transform: scale(1.2);
}

.course-col h3{
  font-weight: 700;
  font-size: 25px;
  color: var(--skin-color);
  text-align: center;
}

.course-col p{
  font-weight: 400;
  color: var(--text-black-700);
  text-align: center;
}

@media (max-width: 768px) {
  .course-title {
    font-size: 1.25rem; /* Adjust font size for smaller screens */
    margin-left: 20px;
  }

  .course-title h2 {
    font-size: 2rem; /* Adjust font size for smaller screens */
  }

  .course-col {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 2% 3%;
  }

  .course-col img {
    height: auto; /* Maintain aspect ratio */
    margin-top: 30px;
  }

  .course-col h3 {
    font-size: 1.25rem; /* Adjust font size for smaller screens */
  }

  .course-col p {
    font-size: 1rem; /* Adjust font size for smaller screens */
  }
}

@media (max-width: 480px) {
  .course-title {
    font-size: 1rem; /* Further adjust font size for very small screens */
    margin-left: 10px;
  }

  .course-title h2 {
    font-size: 1.5rem; /* Further adjust font size for very small screens */
  }

  .course-col {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 2% 2%;
  }

  .course-col img {
    height: auto; /* Maintain aspect ratio */
    margin-top: 20px;
  }

  .course-col h3 {
    font-size: 1rem; /* Further adjust font size for very small screens */
  }

  .course-col p {
    font-size: 0.875rem; /* Further adjust font size for very small screens */
  }
}


/*-----------Calendar Preview---------*/

.calendar-view{
  font-size: 24px;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 30px;
  font-weight: 700;
  color: var(--text-black-900);
}

.calendar-view h2{
  font-size: 40px;
  color: var(--text-black-900);
  font-weight: 700;
  position: relative;
}

.calendar-view h2::before{
  content: '';
  height: 4px;
  width: 50px;
  background-color: var(--skin-color);
  position: absolute;
  top: 100%;
  left: 0;
}

.calendar-view h2::after{
  content: '';
  height: 4px;
  width: 25px;
  background-color: var(--skin-color);
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 8px;
}

.calendar-col{
  margin: auto;
  width: 89%;
  margin-top: 40px;
  margin-bottom: 40px;
  align-items: center;
  text-align: center;
  font-size: 20px;
}

.calendar-col table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 3px solid var(--text-black-900);
}

.calendar-col th, td {
  text-align: center;
  padding: 16px;
}

.calendar-col tr:nth-child(even) {
  background-color: var(--bg-black-50);
}

@media (max-width: 768px) {
  .calendar-view {
    font-size: 1.25rem; /* Adjust font size for smaller screens */
    margin-left: 20px;
  }

  .calendar-view h2 {
    font-size: 2rem; /* Adjust font size for smaller screens */
  }

  .calendar-col {
    width: 100%;
    font-size: 1rem; /* Adjust font size for smaller screens */
  }

  .calendar-col th, td {
    padding: 12px; /* Adjust padding for smaller screens */
  }
}

@media (max-width: 480px) {
  .calendar-view {
    font-size: 1rem; /* Further adjust font size for very small screens */
    margin-left: 10px;
  }

  .calendar-view h2 {
    font-size: 1.5rem; /* Further adjust font size for very small screens */
  }

  .calendar-col {
    width: 100%;
    font-size: 0.875rem; /* Further adjust font size for very small screens */
  }

  .calendar-col th, td {
    padding: 8px; /* Further adjust padding for very small screens */
  }
}


/*---------------testimonial-----*/
.testimonial{
  margin: auto;
  width: 100%;
  padding: 100px;
  text-align: center;
}

.rowbt{
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.testimonial-col{
  flex-basis: 60%;
  text-align: center;
  margin-bottom: 30px;
  margin-left: 20px;
  border-radius: 10px;
  background:#bbb;
  padding: 20px;
}

.testimonial-col h4{
  margin-top: 15px;
  text-align: center;
}

.testimonial-col p{
  padding: 0;
  margin-top: 15px;
  text-align: left;
}

.testimonial-col .fa{
  color: red;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .testimonial {
    padding: 50px; /* Adjust padding for smaller screens */
  }

  .rowbt {
    flex-direction: column; /* Center items for smaller screens */
  }

  .testimonial-col {
    flex-basis: 80%;
    margin-left: 0;
    margin-right: 0;
    padding: 15px; /* Adjust padding for smaller screens */
  }

  .testimonial-col h4 {
    font-size: 1.25rem; /* Adjust font size for smaller screens */
  }

  .testimonial-col p {
    font-size: 1rem; /* Adjust font size for smaller screens */
  }
}

@media (max-width: 480px) {
  .testimonial {
    padding: 30px; /* Further adjust padding for very small screens */
  }

  .testimonial-col {
    flex-basis: 100%;
    padding: 10px; /* Further adjust padding for very small screens */
  }

  .testimonial-col h4 {
    font-size: 1rem; /* Further adjust font size for very small screens */
  }

  .testimonial-col p {
    font-size: 0.875rem; /* Further adjust font size for very small screens */
  }
}


/*---------------footer---------*/
.footer{
  width: 100%;
  height:60px;
  background-color: var(--text-black-700);
}

.foot{
  height: 30px;
  background-color: var(--text-black-900);
}

.foot h6{
  width: 100%;
  text-align: center;
  margin-top: 40px;
  font-size: 17px;
  color: var(--bg-black-50);
}


/*--------Contact----------*/
.contact{
  margin: auto;
  width: 89%;
  padding: 20px 8px;
}

.contactlist{
  font-size: 24px;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 30px;
  font-weight: 700;
  color: var(--text-black-900);
}

.contactlist h2{
  font-size: 40px;
  color: var(--text-black-900);
  font-weight: 700;
  position: relative;
}

.contactlist h2::before{
  content: '';
  height: 4px;
  width: 50px;
  background-color: var(--skin-color);
  position: absolute;
  top: 100%;
  left: 0;
}

.contactlist h2::after{
  content: '';
  height: 4px;
  width: 25px;
  background-color: var(--skin-color);
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 8px;
}

.contactlist p{
  margin-top: 50px;
  text-align: center;
}

.contactform{
  border-radius: 5px;
  background: var(--bg-black-50);
  padding: 20px;
}

.contactform input, .contactform textarea{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  border: 1px solid var(--bg-black-100);
  box-sizing: border-box;
}

button{
  margin-left: 17%;
  margin-right: 17%;
  border: none;
}

@media (max-width: 768px) {
  .contactlist {
    font-size: 1.25rem; /* Adjust font size for smaller screens */
    margin-left: 20px;
  }

  .contactlist h2 {
    font-size: 2rem; /* Adjust font size for smaller screens */
  }

  .contactlist p {
    font-size: 1rem; /* Adjust font size for smaller screens */
  }

  .contactform {
    padding: 15px; /* Adjust padding for smaller screens */
  }

  button {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media (max-width: 480px) {
  .contactlist {
    font-size: 1rem; /* Further adjust font size for very small screens */
    margin-left: 10px;
  }

  .contactlist h2 {
    font-size: 1.5rem; /* Further adjust font size for very small screens */
  }

  .contactlist p {
    font-size: 0.875rem; /* Further adjust font size for very small screens */
  }

  .contactform {
    padding: 10px; /* Further adjust padding for very small screens */
  }

  button {
    margin-left: 5%;
    margin-right: 5%;
  }
}


/*---------reference-----------*/

.reference{
  margin: auto;
  width: 100%;
  padding: 50px;
  background-color: var(--bg-black-50);
}

.reference h2{
  font-size: 40px;
  color: var(--text-black-900);
  font-weight: 700;
  position: relative;
  margin-bottom: 50px;
  margin-left: 30px;
}

.reference h2::before{
  content: '';
  height: 4px;
  width: 50px;
  background-color: var(--skin-color);
  position: absolute;
  top: 100%;
  left: 0;
}

.reference h2::after{
  content: '';
  height: 4px;
  width: 25px;
  background-color: var(--skin-color);
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 8px;
}
.row-on{
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.reference-col{
  flex-basis: 50%;
  width: 100%;
  margin-top: 50px;
  text-align: center;
  margin-left: 30px;
}

.reference-col img{
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.6s;
  cursor: pointer;
  width: 89%;
}

.reference-col img:hover{
  transform: scale(1.2);
}

.reference-col h3{
 color: var(--skin-color);
}

.reference-col p{
 font-weight: 400;
}

@media (max-width: 768px) {
  .reference {
    padding: 30px; /* Adjust padding for smaller screens */
  }

  .reference h2 {
    font-size: 2rem; /* Adjust font size for smaller screens */
    margin-left: 20px;
  }

  .row-on {
    flex-direction: column; /* Center items for smaller screens */
  }

  .reference-col {
    flex-basis: 80%; /* Adjust for better layout on smaller screens */
    margin-left: 0;
  }

  .reference-col img {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .reference {
    padding: 20px; /* Further adjust padding for very small screens */
  }

  .reference h2 {
    font-size: 1.5rem; /* Further adjust font size for very small screens */
    margin-left: 10px;
  }

  .reference-col {
    flex-basis: 100%;
  }

  .reference-col img {
    width: 100%;
  }
}


/*-------------document-----------*/
.document{
  margin: auto;
  width: 100%;
  background-color: var(--bg-black-50);
  padding: 50px;
}


.documentpic h2{
    font-size: 40px;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;
    margin-left: 30px;
  }
  
.documentpic h2::before{
    content: '';
    height: 4px;
    width: 50px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
  }
  
.documentpic h2::after{
    content: '';
    height: 4px;
    width: 25px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
  }
  .file{
    width: 100%;
    margin-left: 70px;
    margin-top: 60px;
    align-content: center;
  }
  .file img{
    width: 60%;
  }

  @media (max-width: 768px) {
    .document {
      padding: 30px; /* Adjust padding for smaller screens */
    }
  
    .documentpic h2 {
      font-size: 2rem; /* Adjust font size for smaller screens */
      margin-left: 20px;
    }
  
    .file {
      margin-left: 20px; /* Adjust margin for smaller screens */
      margin-top: 30px;
    }
  
    .file img {
      width: 80%; /* Adjust image width for smaller screens */
    }
  }
  
  @media (max-width: 480px) {
    .document {
      padding: 20px; /* Further adjust padding for very small screens */
    }
  
    .documentpic h2 {
      font-size: 1.5rem; /* Further adjust font size for very small screens */
      margin-left: 10px;
    }
  
    .file {
      margin-left: 10px; /* Further adjust margin for very small screens */
      margin-top: 20px;
    }
  
    .file img {
      width: 100%; /* Adjust image width for very small screens */
    }
  }


/*----------------gallery-------------*/
.gallery{
  margin: auto;
  width: 100%;
  padding: 50px;
  background-color: var(--bg-black-50);
}

.head h2{
  margin-top: 80px;
  margin-bottom: -40px;
  margin-left: 30px;
  color: var(--skin-color);
}

.galleryhead{
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 700;
  color: var(--text-black-900);
}

.galleryhead h2{
    font-size: 40px;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;
  }
  
.galleryhead h2::before{
    content: '';
    height: 4px;
    width: 50px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
  }
  
.galleryhead h2::after{
    content: '';
    height: 4px;
    width: 25px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
  }

  .row-no{
    display: flex;
    justify-content: space-between;
  }

.gallery-col{
  flex-basis: 60%;
  width: 100%;
  margin-top: 50px;
  align-items: center;
  margin-left: 30px;
}

.gallery-col img{
  transition: 0.6s;
  border-radius: 13px;
  margin-top: 40px;
  width: 100%;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.gallery-col img:hover{
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .gallery {
    padding: 30px; /* Adjust padding for smaller screens */
  }

  .row-no{
    flex-direction: column;
  }

  .head h2 {
    font-size: 2rem; /* Adjust font size for smaller screens */
    margin-left: 20px;
  }

  .galleryhead h2 {
    font-size: 2rem; /* Adjust font size for smaller screens */
    margin-left: 20px;
  }

  .gallery-col {
    margin-left: 10px; /* Adjust margin for smaller screens */
    width: 100%;
  }

  .gallery-col img {
    width: 100%; /* Adjust image width for smaller screens */
  }
}

@media (max-width: 480px) {
  .gallery {
    padding: 20px; /* Further adjust padding for very small screens */
  }

  .head h2 {
    font-size: 1.5rem; /* Further adjust font size for very small screens */
    margin-left: 10px;
  }

  .row-no{
    flex-direction: column;
  }

  .galleryhead h2 {
    font-size: 1.5rem; /* Further adjust font size for very small screens */
    margin-left: 10px;
  }

  .gallery-col {
    margin-left: 0; /* Further adjust margin for very small screens */
    width: 100%;
  }

  .gallery-col img {
    width: 100%; /* Adjust image width for very small screens */
  }
}


/*------------hobbies-------------*/


.hobby{
  margin: auto;
  width: 100%;
  padding: 50px;
  background-color: var(--bg-black-50);
}

.hobbies{
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 700;
  color: var(--text-black-900);
}

.hobbies h2{
    font-size: 40px;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;
    margin-left: 30px;
  }
  
.hobbies h2::before{
    content: '';
    height: 4px;
    width: 50px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
  }
  
.hobbies h2::after{
    content: '';
    height: 4px;
    width: 25px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
  }

  .hobby-col{
    width: 40%;
    flex-basis: 50%;
    margin: auto;
    margin-top: 50px;
    justify-content: center;
    text-align: left;
  }

  .hobby-col img{
    width: 70%;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0,0,0,0.8);
    transition: 0.6s ease-in;
    cursor: pointer;
  }

  .hobby-col img:hover{
    transform: scale(1.2);
  }

  .hobby-col h2{
    display: flex;
    width: 100%;
  }

  .hobby-col p{
    display: flex;
  }


@media (max-width: 768px) {
  .hobby {
    padding: 30px; /* Adjust padding for smaller screens */
  }

  .hobbies h2 {
    font-size: 2rem; /* Adjust font size for smaller screens */
    margin-left: 20px;
  }

  .hobby-col {
    width: 80%; /* Adjust width for smaller screens */
    margin-top: 30px;
  }

  .hobby-col img {
    width: 100%; /* Adjust image width for smaller screens */
    height: auto; /* Maintain aspect ratio */
  }
}

@media (max-width: 480px) {
  .hobby {
    padding: 20px; /* Further adjust padding for very small screens */
  }

  .hobbies h2 {
    font-size: 1.5rem; /* Further adjust font size for very small screens */
    margin-left: 10px;
  }

  .hobby-col {
    width: 100%; /* Adjust width for very small screens */
    margin-top: 20px;
  }

  .hobby-col img {
    width: 100%; /* Adjust image width for very small screens */
    height: auto; /* Maintain aspect ratio */
  }
}

  